# **Practical Questions**


1. Write a code to create a string with your name and print it.

In [ ]:
my_name = "Aditya Kumar"
print (my_name)

Aditya Kumar

2. Write a code to find the length of the string "Hello World".

In [ ]:
code = "Hello World"
len(code)    #len funtion gives the length of the text

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
text = ("Python Programming")
sliced_text = text[:3]         #to call the specific text we use square brackets
print (sliced_text)

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [ ]:
string = "hello"
string.upper()       #upper function used to convert the whole string into capital

'HELLO'

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
string = "I like apple"
new_string = string.replace("apple" , "orange")       #(.replace) function is used to replace the original text
print(new_string)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
num = [1,2,3,4,5]
print(num)
type(num)       #type function is called to check whether num is list or not

[1, 2, 3, 4, 5]

list

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
my_list = [1,2,3,4]
my_list.append(10)      #(.append) is used to add text in the list but it adds in the last only.
print(my_list)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
my_list = [1,2,3,4,5]
my_list.remove(3)       #(.remove) is called with the specific text to remove from the main list
print(my_list)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
my_list = ['a','b','c','d','e']
new_list = my_list[1]         #square brackets is used to call a specific text from the list and list is indexed from 0 so for access the second element we called 1.
print(new_list)

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
my_list = [10,20,30,40,50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [ ]:
my_tuple = (10,20,30)
print(my_tuple)
type(my_tuple)

(10, 20, 30)

tuple

12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [ ]:
my_tuple = ('apple','banana','cherry')
my_tuple[0]

'apple'

13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [ ]:
my_tuple = (1,2,3,2,4,2)
my_tuple.count(2)

3

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
my_tuple = ('dog','cat','rabbit')
my_tuple.index('cat')

1

15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [ ]:
my_tuple = ('apple','orange','banana')
if 'banana' in my_tuple:
  print("Banana is present")
else:
  print("Banana is not present")

Banana is present

16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [ ]:
my_set = {1,2,3,4,5}
print(my_set)
type(my_set)

{1, 2, 3, 4, 5}

set

17. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [ ]:
my_set = {1,2,3,4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

* From 18 to 24 all questions are same though I did it for my practice.

18. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [ ]:
my_tuple = (10,20,30)
print(my_tuple)
type(my_tuple)

(10, 20, 30)

tuple

19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [ ]:
my_tuple = ('apple','banana','cherry')
new_tuple = my_tuple[0]
print(new_tuple)

apple

20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [ ]:
my_tuple = (1, 2, 3, 2, 4, 2)
my_tuple.count(2)

3

21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
my_tuple = ('dog', 'cat', 'rabbit')
my_tuple.index('cat')

1

22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [ ]:
my_tuple = ('apple','orange','banana')
if 'banana' in my_tuple:
  print("It is present")
else:
  print("It is not present")

It is present

23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [ ]:
my_set = {1,2,3,4,5}
print(my_set)
type(my_set)

{1, 2, 3, 4, 5}

set

24. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [ ]:
my_set = {1,2,3,4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}